* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: roboto; */
    
}
/* Giving size to our website  */
/* Defining the margin */
body{
    width: 1000px;
    margin: 0 auto;
}

/* Adding bg to header */
nav, header{
    background-image: url(Image/homebg.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover; 
}
/* Displaying LogoTitle nav and logos side by side */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: white;
    
}

/* Adding background image to body */
.center{
    background-image: url(Image/bodybg.png);
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: contain;
  

}


nav span ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav span ul li {
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 120px;
   
}

header h1 {

    margin-bottom: 20px;
}

.phn {
    height: 300px;
    width: auto;
    position: relative;
}

h2{
    margin-top:30px ;
    color: skyblue;
    
}
.section-2{
    justify-self: center;
    padding-top: 40px;
}
.section-2 p{
    justify-self: center;
    color: rgb(167, 166, 166);
}
.section-2 h2{
    color: #2963ea;
}

.row{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly
    
}
.img-3{
    margin-top: 80px;
    justify-self: center;
    height: auto;
    display: flex;
    justify-items: center;
    margin-left: 90px;

}
.section-3{
    justify-self: center;
}

.section-3 p{
    justify-self: center;
    color: rgb(167, 166, 166);
}
.section-3 h2{
    justify-self: center;
    color: #2963ea;
}

.screenshots{
    margin-top: 90px;
    display: flex;
    /* justify-self: center; */
    justify-content: space-evenly;
}

.clouds{
    color: black;
}

.section-4{
    padding-top: 40px;
    justify-self: center;
    padding-bottom: 40px;
}

.section-4 p{
    justify-self: center;
    font-weight: lighter;
    color: rgb(167, 166, 166);
}
.section-4 h2{
    justify-self: center;
    color: #2963ea;
}

.reviews{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    

}

.reviews span{
    font-size: small;
    font-weight: lighter;
    
}

.left-up,.right-up{
    margin-bottom: 50px;
}


.left-up span{
    font-weight: lighter;
    font-size: small;
    margin: 0;
} 

header h1{
    color: white;
    font-size:60px
}
/* Designing buttons */
.features{
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;

}
.download{
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;

}

.how-to-download{
    display: flex;
    margin-top: 100px;
    background-image: url(Image/homebg.png);
    justify-content: space-evenly;
}

.instructions{
    padding-top: 40px;
    color: white;
}
.instructions h1{
    padding-bottom: 20px;
}
.demo-img{
    margin-top: 40px;
} 


.last{
    background-color: #34385C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    padding: 40px;
    padding-left:130px ;
    
}

.last h4 {
    flex: 1;
}

.last span ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.last span ul li {
    cursor: pointer;
}
/* Rotating the h1 heading */
/* Putting h1 behing the phone image */
.Rotate{
    font-size: 100px;
    position: absolute;
    padding-top: 180px;
    margin-right: 39px;
    margin-left: 200px;
    transform: translateX(-50%)rotate(90deg);
    transform-origin: center;
    z-index: 0;
    opacity: 0.1;
}


.Rotate-3{
    font-size: 100px;
    position: absolute;
    padding-left: px;
    margin-top: 40px;
    margin-right: 319px;
    transform: translateY(50%)rotate(90deg);
    transform-origin: center;
    z-index: 0;
    opacity: 0.1;
}

.Rotate-2{
    font-size: 100px;
    position: absolute;
    margin-top: 140px;
    margin-left:320px;
    transform: translateY(-50%)rotate(-90deg);
    transform-origin: center;
    z-index: 0;
    opacity: 0.1;
} 
.phn-2{
    position: relative;
}

.img-1-1{
    position: absolute;
    z-index: 2;
}
.img-1-2,.img-1-3{
    position: relative;
}
.img-1-3{
    padding-left: 400px;
    margin-top: 80px;
}
.img-1-2{
    margin-left: -90px;
    margin-top: 70px;
}

.section-3{
    margin-top: 90px;
}
 